.modal {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}

@import "~tailwindcss/base";

.wordproof-modal-logo {
  max-height: 30px;
  width: auto;
}

@import "~tailwindcss/components";

@import "~tailwindcss/utilities";
