@import "../../../../node_modules/tailwindcss/base";

/**
** TYPOGRAPHY
**
 */
h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3, label {
  @apply font-semibold text-base;
}

a {
  @apply text-blue-600 underline;
}

a.wproof-button {
  @apply no-underline;
}

/**
** BUTTONS
**
 */

.wproof-button, button {
  @apply font-semibold py-2 px-3 border-b-4 bg-white text-gray-800 border-gray-400
}

.wproof-button:hover, button:hover {
  @apply bg-gray-100 border-gray-100
}

.wproof-button.primary, button.primary {
  @apply bg-blue-500 text-white border-blue-700
}

.wproof-button.primary:hover, button.primary:hover {
  @apply bg-blue-400 border-blue-500
}

.wproof-button.secondary, button.secondary {
  @apply bg-pink-600 text-white border-pink-700
}

.wproof-button.secondary:hover, button.secondary:hover {
  @apply bg-pink-500 border-pink-600
}

/**
** GENERAL ELEMENTS
**
 */

hr {
  @apply my-5
}

/**
** FORMS
**
 */
input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight
}

input:focus {
  @apply outline-none shadow-outline
}

/**
** WIZARD
 */
.wordproof-wizard-step {
  @apply p-12 bg-white rounded-lg max-w-3xl
}

@import "../../../../node_modules/tailwindcss/components";
@import "../../../../node_modules/tailwindcss/utilities";

.wordproof-onboarding-wizard {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 99999;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
