@import "../../../css/buttons";

/**
** TYPOGRAPHY
**
 */
h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3, label {
  @apply font-semibold text-base;
}

a {
  @apply text-blue-600 underline;
}

/**
** GENERAL ELEMENTS
**
 */

hr {
  @apply my-5
}

/**
** FORMS
**
 */
input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight
}

input:focus {
  @apply outline-none shadow-outline
}

/**
** WIZARD
 */

.wordproof-onboarding-wizard {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 99999999999;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.wizard-container {
  width: 800px;

  @media screen and (max-width: 900px) {
    width: 700px;
  }

  @media screen and (max-width: 700px) {
    width: 500px;
  }

  @media screen and (max-width: 500px) {
    width: 450px;
  }
}

.wordproof-wizard-step {
  @apply p-12 bg-white rounded-lg max-w-3xl;
}

@import "../../../../node_modules/tailwindcss/components";
@import "../../../../node_modules/tailwindcss/utilities";


