@import "../../../../node_modules/bulma/sass/utilities/all";
@import "../../../../node_modules/bulma/sass/base/all";
@import "../../../../node_modules/bulma/sass/components/modal";
@import "../../../../node_modules/bulma/sass/components/pagination";
@import "../../../../node_modules/bulma/sass/elements/content";
@import "../../../../node_modules/bulma/sass/elements/title";
@import "../../../../node_modules/bulma/sass/grid/columns";

$black: #1a1a1a;

$wordpress-blue: #3884B5;
$wordpress-blue-light: #e7f5ff;

$browser-head: #EDF0F5;
$browser-url: #F8F9FB;

$grey-light: darken($grey-light, 10);

.shadowHost {
  opacity: 0;
  transition: all .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.shadowHost.resolved {
  opacity: 1;
}

.modal {
  z-index: 9999;
  &-card {
    &-body {
      padding: 10px 20px 0px 20px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;

      h2.title {
        padding-top: 30px;
        font-size: 1.5rem;
        color: $black;
      }

      h3.subtitle {
        font-size: 1rem;
        font-weight: 600;
        color: $grey-light;
      }

      .wordproof-modal-close {
        font-weight: 800;
        color: $red;
        font-size: 1.4em;
        float: right;
        border: none;
        cursor: pointer;
      }
    }

    &-foot {
      align-items: center;
      justify-content: center;

      a {
        font-size: 0.5em;
        text-decoration: underline;
      }
    }
  }
}


/**
Mockup browser
Color can be changed inline (search for %23, which equals #)
 */

.mockup-browser {
  position: relative;
  margin: 24px 0;
  font-family: sans-serif;
  color: #454545;
  border-radius: 3px;
  overflow-x: visible;

  &-content {
    padding: 64px 16px 10px 16px;
    border: 1px solid $grey-lighter;
    border-bottom: 0;

    &.content {
      padding-bottom: 0.3rem;
      margin-bottom: 0;
    }

    h3 {
      font-size: 1em;
      margin: 0.3em 0 0.8em 0;
      color: $black;
    }

    p {
      font-size: 0.65em;
      line-height: 1.2;
      color: $grey-light;
      white-space: pre-wrap;
      padding-bottom: 10px;
    }
  }

  &-footer {
    background: $browser-head;
    border: 1px solid $grey-lighter;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    .columns {
      align-items: center;
      margin-bottom: 0;
    }

    a {
      font-size: 0.65em;
      font-weight: 600;
      text-decoration: underline;
    }

    ul {
      text-align: right;
      color: $black;
    }

    li, p {
      font-size: 0.65em;
      span {
        font-weight: 600;
      }
    }

    * {
      margin: 0;
    }
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    top: -1px;
    left: -1px;
    right: -1px;
    height: 45px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 3px 3px 0px 0px;
    background: url('data:image/svg+xml;charset=utf-8,<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="minimal-browser-button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><g id="Ellipse_1"><g><circle fill-rule="evenodd" clip-rule="evenodd" fill="%23FF605C" cx="8" cy="8" r="7"/></g></g></svg>') 10px 17px no-repeat, url('data:image/svg+xml;charset=utf-8,<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="minimal-browser-button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><g id="Ellipse_1"><g><circle fill-rule="evenodd" clip-rule="evenodd" fill="%23FFBD44" cx="8" cy="8" r="7"/></g></g></svg>') 32px 17px no-repeat, url('data:image/svg+xml;charset=utf-8,<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="minimal-browser-button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><g id="Ellipse_1"><g><circle fill-rule="evenodd" clip-rule="evenodd" fill="%2300CA4E" cx="8" cy="8" r="7"/></g></g></svg>') 54px 17px no-repeat, $browser-head;
  }

  &:after {
    content: attr(data-url);
    color: $grey-light;
    position: absolute;
    padding: 4px 16px 0px 10px;
    top: 8px;
    height: 28px;
    left: 80px;
    right: 15px;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px -1px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
    text-align: left;
    background: 8px 6px no-repeat, $browser-url;
  }
}