.wordproof-metabox {

  .button-container {
    .button:last-child {
      float: right;
    }
  }

  .button {
    background: $grey-lighter;
    box-shadow: 0px 2px 0px 0px darken($grey-lighter, 10);
    position: relative;
    font-weight: 500;
    padding: 4px 25px 31px 25px;
    border: none;

    &.is-primary {
      background: $brand;
      color: #ffffff;
      box-shadow: 0px 2px 0px 0px darken($brand, 10);
    }
    &.is-loading {
      color: transparent !important;
      pointer-events: none;
      text-shadow: none !important;

      &:after {
        -webkit-animation: spin .5s infinite linear;
        animation: spin .5s infinite linear;
        border: 2px solid #dbdbdb;
        border-radius: 290486px;
        border-right-color: transparent;
        border-top-color: transparent;
        content: "";
        height: 1em;
        width: 1em;
        position: absolute;
        left: 40%;
        top: 30%;
      }
    }
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
